.wrapper {
  display: flex;
  flex-direction: column;
  height: 400vh;
  width: 100vw;
  padding: 100px 0;
  position: relative;

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: -2;

    .title-content {
      font-size: 7.5rem;
      font-weight: 700;
      color: #171717;
    }
  }

  .content {
    margin-top: 36px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;

    .image-frame-wrapper {
      position: absolute;
      top: 10vh;
      width: 80%;
      z-index: -1;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .list-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      // gap: 36px;
    }
  }
}
