.wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 128px;
  padding-top: 20vh;
  position: sticky;

  .title-wrapper {
    display: flex;
    gap: 1rem;
    font-size: 80px;
    color: #866957;
    font-weight: 700;

    .scroll-text {
      will-change: transform;
    }
  }

  .content {
    width: 80%;
    margin-top: 72px;
  }
}
