.wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 128px;
  padding-top: 20vh;

  .title-wrapper {
    display: flex;
    gap: 1rem;
    font-size: 80px;
    color: #866957;
  }

  .content {
    color: #171717;
    font-size: 1.25rem;
    font-weight: 500;
    width: 80%;
  }
}
