.navigation {
  width: 100%;
  padding: 1rem 2rem 0;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: row-reverse;
  height: 4rem;
  color: #00000080;
  z-index: 2;
  font-weight: 500;

  .center-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 90px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    .about,
    .work {
      margin: 0 4rem;
      font-size: 1.2rem;
      text-decoration: none;
      color: var(--text-color);
      font-size: 1.25rem;
    }

    .logo {
      margin: 0 4rem;
      font-size: 1.5rem;
    }
  }

  .right-nav {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.25rem;
  }
}
