.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 20px;
  color: #000;

  .slogan {
    font-size: 2.75rem;
    font-weight: 400;
  }

  .webver {
    position: relative;
    width: 90vw;
    max-width: 1300px;
    aspect-ratio: 1363 / 363;

    .webver-img {
      object-fit: cover;
    }
  }

  .footer {
    font-weight: 500;
    font-size: 1.25rem;
    color: #00000080;
  }
}
