.wrapper {
  height: calc(95vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #000;
  padding-top: 4rem;

  .slogan {
    font-size: 2.75rem;
    font-weight: 700;
    position: relative;
    z-index: 2;
    color: #866957;
  }

  .webver {
    position: relative;
    width: 90vw;
    max-width: 1300px;
    aspect-ratio: 1363 / 363;
    z-index: 0;

    .webver-img {
      object-fit: cover;
    }
  }

  .footer {
    font-weight: 500;
    font-size: 1.25rem;
    color: #00000080;
  }
}
