.footer {
  background-image: url("/img/footer.webp");
  background-position: center center;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 4rem calc(36px + 2rem) 1rem;

  .footer-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .email {
      font-size: 1.25rem;
      color: #e5e5e5;
      font-weight: 700;
    }

    .socials {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;

      .social-icon {
        opacity: 0.8;
        transition: opacity 0.3s ease, transform 0.3s ease;
        cursor: pointer;

        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }
        img {
          height: 40px;
        }
      }
    }
  }

  .footer-content {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e5e5e5;

    .container {
      .text {
        font-size: 3.75rem;
        font-weight: 700;
      }

      .contact {
        font-size: 5rem;
        font-weight: 700;
        position: relative;
        display: inline-block;
        cursor: pointer;

        .underline {
          position: absolute;
          left: 0;
          bottom: 8px; /* adjust spacing under text */
          height: 2px;
          width: 100%;
          background: #fff;

          /* Start hidden */
          transform: scaleX(0);
          transform-origin: center;
          transition: transform 0.3s ease;
        }

        &:hover .underline {
          transform: scaleX(1);
        }
      }
    }
  }

  .footer-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
  }
}

/* responsive */
@media (max-width: 1024px) {
  .footer {
    padding: 3rem 2rem 1rem;
  }
  .footer-content {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 2rem 1rem;
    background-position: top center;
  }
  .footer-content {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    text-align: center;
  }
  .footer-end {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
}
