.wrapper {
  display: flex;
  min-height: 400px;
  gap: 2rem;
  width: 100%;

  .image-wrapper {
    width: 50%;
    padding: 0 1rem;

    .image {
      width: auto;
      height: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    .content-text {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .title {
        font-weight: 700;
        font-size: 45px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #866957;
      }

      .type {
        font-weight: 500;
        font-size: 25px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #171717;
      }
    }

    .link {
      cursor: pointer;
    }
  }
}

.tooltip {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  pointer-events: none;
  white-space: nowrap;
  transform: translate(10px, 10px);
  display: none;
}
