.wrapper {
  display: flex;
  gap: 2rem;
  width: 100%;

  .image-wrapper {
    width: 680px;
    height: 485px;
    padding: 0 1rem;
    aspect-ratio: 680 / 485;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .image,
    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
      object-position: bottom center;
      background-color: transparent;
    }
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    .content-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .title {
        font-weight: 700;
        font-size: 2.8125rem;
        line-height: 100%;
        letter-spacing: 0%;
        color: #866957;
      }

      .type {
        font-weight: 500;
        font-size: 1.5625rem;
        line-height: 100%;
        letter-spacing: 0%;
        // color: #171717;
        mix-blend-mode: difference;
      }
    }

    .link {
      cursor: pointer;
    }
  }
}

/* responsive */
@media (max-width: 1200px) {
  .image-wrapper {
    width: 520px;
    height: 370px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 1.25rem;
    height: auto;
  }
  .image-wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
    padding: 0;
    .image,
    img {
      position: relative;
      height: auto;
      object-fit: cover;
    }
  }
  .content {
    width: 100%;
  }
}
