.logo-container {
  position: fixed;
  width: 100%;
  height: 110vh;
  top: 0;
  left: 0;
  z-index: 1;

  .webver {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 5vh;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .webver-image {
      object-fit: cover;
      width: 90vw;
      aspect-ratio: 1363 / 363;
    }
  }

  @media (max-width: 768px) {
    height: 100vh;
  }
}

/* responsive */
// @media (max-width: 1024px) {
//   .logo-container {
//     height: 90vh;
//   }
//   .webver {
//     top: 8vh;
//   }
//   .webver-image {
//     width: 95vw;
//   }
// }
// @media (max-width: 768px) {
//   .logo-container {
//     position: relative;
//     height: auto;
//     padding-top: 2rem;
//     z-index: 2;
//   }
//   .webver {
//     position: relative;
//     top: 0;
//     height: auto;
//     display: block;
//   }
//   .webver-image {
//     width: 100%;
//     aspect-ratio: 3 / 1;
//     object-fit: contain;
//   }
// }
