.wrapper {
  // background-color: #fff;
  border-top: 1px solid #000;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 24px 36px;
  scroll-snap-align: end;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;

    .left-col {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;

      .number {
        font-size: 1.625rem;
        color: #000;
      }

      .title {
        font-size: 5rem;
        font-weight: bold;
        color: #866957;
      }
    }

    .mid-col {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;

      .img-wrapper {
        width: 80vw;
        height: auto;

        .img {
          width: 80vw;
          height: auto;
        }
      }
    }

    .right-col {
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
      width: 320px;

      .text {
        font-size: 1.625rem;
        color: #000;
      }
    }
  }
}
