.wrapper {
  // background-color: rgb(229, 223, 219);
  height: 100vh;
  display: flex;
  width: 100vw;
  position: relative;
  z-index: -1;
  margin-top: 36px;

  .sidebar-logo {
    position: absolute;
    top: -30%;
    left: -11%;
    width: 50%;
    z-index: 0;
    display: flex;
    height: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .sidebar {
    width: 30%;
    padding-left: 48px;
    padding-right: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    .slogan-wrapper {
      color: #866957;
      font-size: 2.5rem;
      position: absolute;
      top: 0;

      .slogan-text {
        width: 80%;
        font-weight: 700;

        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .sidebar-content {
      padding: 16px 0;
      align-items: center;
      color: #171717;
      font-size: 1.5rem;
      cursor: pointer;
      opacity: 0.5;
      transition: all 0.3s;

      .sidebar-text {
        display: inline;
        padding: 10px 10px 5px;
        font-weight: 700;
      }
    }

    .sidebar-content.active {
      opacity: 1;
      transform: translateX(8px);

      @media (max-width: 768px) {
        transform: none;
      }
    }
  }

  .content {
    flex: 1;
    position: relative;
    z-index: 1;
    display: flex;

    @media (max-width: 768px) {
      height: 95vh;
      width: 100%;
      padding: 0 2rem;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: 100vh;
    margin-top: 0;

    .sidebar {
      width: 100%;
      padding: 24px;
      flex-direction: row;
      gap: 2rem;

      .slogan-wrapper {
        position: static;
        font-size: 1.5rem;
        text-align: center;

        .slogan-text {
          width: 100%;
          font-size: 1.25rem;
        }
      }

      .sidebar-content {
        font-size: 1.2rem;

        .sidebar-text {
          padding: 8px 8px 4px;
        }
      }
    }
  }
}
