.wrapper {
  // background-color: rgb(229, 223, 219);
  height: 100vh;
  display: flex;
  width: 100vw;
  position: relative;
  z-index: -1;

  .sidebar-logo {
    position: absolute;
    top: -30%;
    left: -10%;
    width: 50%;
    z-index: 0;
    display: flex;
    height: 100%;
  }

  .sidebar {
    width: 30%;
    padding-left: 48px;
    padding-right: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    .slogan-wrapper {
      color: #866957;
      font-size: 40px;
      position: absolute;
      top: 0;

      .slogan-text {
        width: 80%;
      }
    }

    .sidebar-content {
      padding: 16px 0;
      align-items: center;
      color: #171717;
      font-size: 1.5rem;

      .sidebar-text {
        display: inline;
        padding: 8px 16px;
      }
    }
  }

  .content {
    flex: 1;
    position: relative;
    z-index: 1;
    display: flex;
  }
}
