.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  overflow: hidden;

  .line {
    font-weight: 700;
    font-size: 130px;
    color: #dbdbdb;
  }
}
