.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50vh;
  align-items: center;
  justify-content: center;
  // overflow: hidden;
  //   background-color: #fff;

  .title {
    width: 100%;
    color: #171717;
    font-size: 400px;
    position: sticky;
    top: 0;
    // z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 700;

    .title-text {
      display: block;
      position: relative;
    }
  }

  .work-list {
    width: 100%;
    padding: 50vh 36px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    position: relative;
    // z-index: 2;
  }
}

.tooltip-div {
  position: fixed;
  // background: rgba(0, 0, 0, 0.75);
  // color: #fff;
  // border-radius: 6px;
  font-size: 14px;
  border-radius: 200px;
  pointer-events: none;
  white-space: nowrap;
  transform: translate(8px, 8px);
  display: block;

  .tooltip {
    width: 100px;
    height: 100px;
    color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .tooltip-text {
      font-size: 14px;
      font-weight: 700;
    }
  }
}
