.connector {
  // background-color: #fff;
  margin-top: 100vh;
  height: 150vh;
  width: 100vw;
  z-index: 0;

  @media (max-width: 768px) {
    margin-top: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slogan-container {
    position: relative;
    top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    // margin-top: -50vh;

    @media (max-width: 768px) {
      top: 0;
      width: 100%;
      height: 100%;
    }

    .logo {
      position: absolute;
      margin: 0 auto;
      width: 60%;
      height: auto;

      @media (max-width: 768px) {
        width: 90%;
      }
    }

    .slogan-desktop {
      width: 100%;

      @media (max-width: 768px) {
        display: none;
      }
    }
    .slogan-mobile {
      display: none;

      @media (max-width: 768px) {
        display: flex;
        height: 90%;
        width: 90%;
        font-size: clamp(4.5rem, 1.783rem + 10.87vw, 7rem);
        font-weight: 700;
        flex-direction: column;
        justify-content: space-between;

        .first-line,
        .second-line {
          display: flex;
          flex-direction: column;
        }

        .second-line {
          text-align: right;
        }
      }
    }
  }
  @media (max-width: 768px) {
    background-color: #000;
  }
}
